body{
    margin:0px ;
    font-family: 'Roboto', sans-serif;
}
h1,h2 ,h3 ,h4 ,h5 ,h6{
font-family: 'Roboto Slab', serif;

}


/*ABOUT-SECTION */
/*square box*/
.square-wrapper{
    display: flex;
    justify-content: center;
}

.square-wrapper > .squares{
    width:1000px;
}
.square-wrapper > .squares >.square{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;

}
.square > .image-box img{
    width:100%;
    height:500px;
    object-fit: cover;
    /*The object-fit CSS property sets how the content of a replaced element, such as an <img> or <video>, should be resized to fit its container. */
}
.square > .square-text-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1{
    color: #cea135;
}

.space60{
    height:60px;
    width:100%;
}

